<html>
  <head>
    <link rel="stylesheet" href="https://cdn.concisecss.com/v3.4.0/concise.min.css">
    <link type="stylesheet" mimetype="text/css" href="style.css" />
    <style>
      .oneline {
        height: 16px;
        line-height: 16px;
        overflow-y: hidden;
        overflow-x: hidden;
        text-overflow: "...";
      }
      .oneline:active, .oneline:hover {
        height: auto;
        overflow-y: visible;
      }
      .card-content {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      form[name=github] input {
         max-width:20em;
      }
    </style>
  </head>
  <body>
    <form name="github" id="github">
      github auth:
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button class="button--pill button--xsm" type="submit">for private data</button>
    </form>
    <ul>
      <li><a href="?users=orgs/MoveOnOrg,users/schuyler1d">moveon</a></li>
      <li><a href="?users=users/nikomatsakis,users/aturon">rust</a></li>
    </ul>

    <div id="pull_requests"
         style="float:right;min-width:400px;width:50%;"
         >
    </div>
    <div id="events"
         style="min-width:400px;width:50%;"
         >
    </div>
    <div id="templatePullRequest" style="display:none"><div class="card">
        <div class="card-content">
          <div class="datetime">${created_at}
            {% if (created_at != updated_at) {  %}
              (updated ${updated_at})
            {% } %}            
          </div>
          <img src="${user.avatar_url}" style="max-width: 30px" />
          <a href="${user.url}">${user.display_login}</a>

          <b><a href="${base.repo.html_url}">${base.repo.name}</a></b>
          <div><a href="${html_url}">${title}</a></div>
        </div>
        
      </div>
    </div>
    <div id="templateEvent" style="display:none"><div class="card">
      <div class="card-content">
        <div class="datetime">${created_at}</div>
        <img src="${actor.avatar_url}" style="max-width: 30px" />
        <a href="${actor.url}">${actor.display_login}</a>
        <b><a href="https://github.com/${repo.name}">${repo.name}</a></b>
        {% if (payload.ref) {  %}
        ${payload.ref}
        {% } %}        
        <b>${type}</b>
            <span>
            {% if (payload.action) {  %}
               (${payload.action})
            {% } %}        
            </spaN>
        {% if (payload.issue) {  %}
          <div class="oneline">
            <a title="" href="${payload.issue.html_url}">issue</a>:
            ${payload.issue.title}
          </div>
        {% } %}

        {% if (payload.pull_request) {  %}
          <div class="oneline">
            title: ${payload.pull_request.title}
          </div>
        {% } %}

        {% if (payload.comment) {  %}
          <div class="oneline">
            <a href="${payload.comment.html_url}">comment</a>
            ${payload.comment.body}
          </div>
        {% } %}
          
        {% if (payload.commits) {  %}
           <ul>
           {% _.forEach(payload.commits, function(commit) { %}
             <li class="oneline"><a href="${commit.url}">#</a> ${commit.message}</li>
           {% }) %}
           </ul>
        {% } %}
      </div>
      <!--div class="card-footer">
        <a href="">Leave a comment?</a>
      </div-->
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://raw.githubusercontent.com/philschatz/octokat.js/master/dist/octokat.js"></script>
    <script>
      $.getScript('./stalker.js?_=' + String(new Date()));
    </script>
  </body>
</html>
