<html>
  <head>
    <link rel="stylesheet" href="https://cdn.concisecss.com/v3.4.0/concise.min.css">
    <link type="stylesheet" mimetype="text/css" href="style.css" />
  </head>
  <body>
    <ul>
      <li><a href="?orgs/MoveOnOrg,users/schuyler1d">moveon</a></li>
      <li><a href="?users/nikomatsakis,users/aturon">rust</a></li>
    </ul>
    <div id="events"></div>
    <div id="template" style="display:none"><div class="card">
      <div class="card-content">
        <span class="card-title">${created_at}</span>
        <img src="${actor.avatar_url}" style="max-width: 30px" />
        <a href="${actor.url}">${actor.display_login}</a>
        <b><a href="${repo.url}">${repo.name}</a></b>
        {% if (payload.ref) {  %}
        ${payload.ref}
        {% } %}        
        <b>${type}</b>
        <p>
        {% if (payload.issue) {  %}
        <a title="${payload.issue.title}" href="${payload.issue.html_url}">issue</a><br />
        {% } %}
        </p>
        {% if (payload.comment) {  %}
        <p><a href="${payload.comment.html_url}">comment</a> ${payload.comment.body}</p>
        {% } %}
        {% if (payload.commits) {  %}
           <ul>
           {% _.forEach(payload.commits, function(commit) { %}
             <li><a href="${commit.url}">#</a> ${commit.message}</li>
           {% }) %}
           </ul>
        {% } %}
        </p>
      </div>
      <!--div class="card-footer">
        <a href="">Leave a comment?</a>
      </div-->
      </div>
        {% if ("foo") { %}
        <p>XXXXxxx</p>
        {% } %}
        <p>${payload.issue.title}:  ${payload.comment.body}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script>
      $.getScript('./stalker.js?_=' + String(new Date()));
    </script>
  </body>
</html>
